/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #wrapper #footer .line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 40px; }
    #wrapper #footer .line > ul {
      margin: 10px 0; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #wrapper .main_search {
    max-width: 90%; }

  #wrapper #footer .line .mnu_footer > li {
    padding-right: 10px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #wrapper #header .right_side {
    padding: 15px 20px; }

  #wrapper #footer .line {
    padding: 0 15px; }

  #wrapper #footer .line .mnu_footer > li:last-child {
    margin-top: 10px; }

  #wrapper #footer .line .mnu_footer:first-child {
    margin-bottom: 0; }

  #wrapper #footer .line .mnu_footer:last-child {
    margin-top: 0; }

  #services_window {
    width: 230px; }

  #services_window .wrapper > a {
    width: 48%;
    margin: 0 2px 15px; }

  .btn_blue {
    margin: 10px;
    padding: 5px 8px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
